<div
  style="font-family: 'Poppins', sans-serif; background-color: #f3f2f0; padding: 40px 20px;"
>
  <div style="width: 100%; margin: 0 auto;">
    <div
      style="background-color: white; padding: 30px; margin: 0 auto; border-radius: 20px; border: 1px solid black; overflow: hidden"
    >
      {{> header}}

      <p style="font-size: 16px; color: #282828;">
        Đơn hàng
        <strong>#{{orderId}}</strong>
        của bạn đã bị hủy bởi hệ thống với lí do:
        <strong>{{content}}</strong>
      </p>

      <p style="font-size: 16px; color: #282828;">
        Nếu đơn này hàng này bạn đã thanh toán thì shop chúng tôi sẽ hoàn tiền
        cho bạn trong vòng 48 giờ kể từ khi nhận được email này. Chúng tôi xin lỗi vì sự bất tiện này.
      </p>

      {{> footerOrder}}
    </div>
  </div>
</div>