<div
  style="font-family: 'Poppins', sans-serif; background-color: #f3f2f0; padding: 40px 20px;"
>
  <div style="width: 100%; margin: 0 auto;">
    <div
      style="background-color: white; padding: 30px; margin: 0 auto; border-radius: 20px; border: 1px solid black; overflow: hidden"
    >
      {{> header}}

      <p style="font-size: 16px; color: #282828;">
        Có đơn hàng mới shop ơi
        <a href="{{link}}" style="font-size: 16px;">
          Nhấn vào đây để xem chi tiết đơn hàng
        </a>
      </p>
      {{> footerOrder}}
    </div>
  </div>
</div>