<div
  style="font-family: 'Poppins', sans-serif; height: 100vh; background-color: #f3f2f0; padding: 40px 20px;"
>
  <div style="width: 50%; margin: 0 auto;">
    <div
      style="background-color: white; padding: 30px; margin: 0 auto; border-radius: 20px; border: 1px solid black; overflow: hidden"
    >
      <div>
        <a
          href="#"
          class="email__logo"
          style="display: block; width: fit-content;
              margin: 0 auto;"
        >
          <img
            src="/public/images/logo.png"
            alt="logo"
            style="width: 160px; "
          />
        </a>

        <h1 style="font-weight: 600; color: black; text-align: center;">
          Antran Shop Thông báo
        </h1>
      </div>

      <p style="font-size: 16px; color: #282828;">
        Đơn hàng
        <strong>#123</strong>
        của bạn đã được shop chuyển đi thành công
      </p>

      <p style="font-size: 16px; color: #282828;">
        Cảm ơn bạn đã tin tưởng và ủng hộ shop của chúng tôi 
      </p>

      <div style="margin-top: 24px;">
        <p style="font-size: 16px; color: #282828; margin-bottom: 0px;">
          Trân trọng cảm ơn vì sự đồng hành của bạn 🥰
        </p>

        <strong style="color: black">© 2023 AntranShop</strong>
      </div>
    </div>
  </div>
</div>