<div
  style="font-size: 14px; font-style: italic; color: #282828; margin-top: 20px; padding-top: 10px; border-top: 1px dashed black;"
>
  <p style="margin: 0 4px;">Mọi chi tiết xin liên hệ:</p>
  <p style="margin: 0 4px;">Shop Antran</p>
  <p style="margin: 0 4px;">Địa chỉ: 55 Nguyễn Kiệm, Phường 3, Quận Gò Vấp,
    TP.Hồ Chí Minh</p>
  <p style="margin: 0 4px;">Số điện thoại:
    <a href="tel:0946003423">0946003423</a>
  </p>
  <p style="margin: 0 4px;">Email:
    <a href="mailto:phamtrangiaan27@gmail.com">phamtrangiaan27@gmail.com</a>
  </p>

  <strong
    style="display: block; font-size: 14px; color: black; margin-top: 10px;"
  >© 2024 AntranShop</strong>
</div>