<div>
  <a
    href="#"
    class="email__logo"
    style="display: block; width: fit-content;
              margin: 0 auto;"
  >
    <img
      src="https://res.cloudinary.com/neyul/image/upload/f_auto,q_auto/v1/web/master/general/uyosn9e11tw0pk3lbcij"
      alt=""
      style="width: 160px; "
    />
  </a>

  <h1 style="font-weight: 600; color: black; text-align: center;">
    Antran Shop Thông báo
  </h1>
</div>