<div>
  <a
    href="#"
    class="email__logo"
    style="display: block; width: fit-content;
              margin: 0 auto;"
  >
    <img
      src="https://neyul.com/image/logo.png"
      alt=""
      style="width: 160px; "
    />
  </a>

  <h1 style="font-weight: 600; color: black; text-align: center;">
    Antran Shop Thông báo
  </h1>
</div>