<div
  style="font-family: 'Poppins', sans-serif; height: 100vh; background-color: #f3f2f0; padding: 40px 20px;"
>
  <div style="width: 100%; margin: 0 auto;">
    <div
      style="background-color: white; padding: 30px; margin: 0 auto; border-radius: 20px; border: 1px solid black; overflow: hidden"
    >
      {{> header}}

      <p style="font-size: 16px; color: #282828;">
        Chúng tôi đã nhận được yêu cầu của bạn. Bây giờ bạn có thể đặt lại mật khẩu!
      </p>

      <a style="font-size: 16px;" href='http://localhost:3001/api/v1/user/checkPasswordKey?email={{email}}&t_k={{token}}&k_y={{key}}'>
        Đặt lại mật khẩu
      </a>

      <p style="font-size: 16px; color: #282828;">
        Xin lưu ý: Bạn có 24 giờ để chọn mật khẩu. Sau đó, bạn sẽ phải yêu cầu mật khẩu mới.
      </p>

      <p style="font-size: 16px; color: #282828;">
        Bạn không yêu cầu mật khẩu mới? Bạn có thể bỏ qua email này.
      </p>

      {{> contact}}
    </div>
  </div>
</div>